.grid {
    margin: 100px 100px 100px 100px;
    height: 80vh;
    width: 80vw;
}

.button {
  margin: 10px 100px 0px 100px;
}

.text {
  padding: 10px;
  margin: auto;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: Tahoma, sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}